.Nav {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
    align-items: center;
}

.Dropdown-content a {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgb(0,101,155);
    list-style-type: none;
    text-decoration: none;
}

#Title {
    font-weight: bold;
}

.Dropbtn {
    background-color: unset;
    border: none;
    font-size: 24px;
    color: rgb(0,101,155);
    font-weight: bold;
    margin: 0 8px;
}

.Dropbtn:hover {
    text-decoration: underline;
}
  
.Dropdown {
    display: inline-block;
}

.Dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 16px;
    background-color: #fffc;
}

.Dropdown:hover .Dropdown-content {
    display: block;
}

.Blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}