.BlueNav {
    background: #89BFE9;
    width: 72px;
    height: 100%;
    padding-top: 110px;
    /* display: flex;
    flex-direction: column; */
}

/* .Icons {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.FirstIcons {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SecondIcons {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding-bottom: 63px;
}

.ThirdIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}